{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "prettier"],
    "extends": ["eslint:recommended", "prettier", "plugin:@typescript-eslint/recommended"],
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2020
    },
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "no-case-declarations": "off",
        "no-empty-function": "off",
        "prefer-const": "off",
        "prettier/prettier": "error",
        "react/no-unescaped-entities": "off",
        "@typescript-eslint/no-explicit-any": "off"
    }
}
