# plugins
plugins/
!plugins/character
!plugins/common

# dependencies
node_modules/
/.pnp
.pnp.js

# production
/dist

# misc
.DS_Store
.yarn.installed
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
