/* CUSTOM CSS STYLING HERE
====================*/

/* NUI GENERAL
====================*/

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.nui-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
