/* CUSTOM CSS STYLING HERE
====================*/

@font-face {
    font-family: "Circular";
    src: url("./assets/fonts/Circular-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Circular";
    src: url("./assets/fonts/Circular-Book.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Renner;
    src: url(./assets/fonts/renner-book.otf);
    font-weight: normal;
}

@font-face {
    font-family: Renner;
    src: url(./assets/fonts/renner-bold.otf);
    font-weight: bold;
}

/* NUI GENERAL
====================*/

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.nui-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
